---
// Legend component
---

<nav class="legend" aria-label="Legend">
    <span class="badge do"><span class="dot"></span>Do</span>
    <span class="badge dont"><span class="dot"></span>Don't</span>
    <span class="badge tip"><span class="dot"></span>Tip</span>
    <span class="badge info"><span class="dot"></span>Info</span>
</nav>
